<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/@primer/css@^20.2.4/dist/primer.css" rel="stylesheet" />
    <title>Zetamac Leaderboard</title>
  <body>
    <div class="Header">
        <div class="Header-item"><a href="{{ url_for('index') }}" class="Header-link">Home</a></div>
        <div class="Header-item--full"><a href="{{ url_for('leaderboard') }}" class="Header-link">Leaderboard</a></div>
    </div>
    {% block content %}
    {% endblock %}
  </body>

</html>